.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 306px;
  overflow-y: auto;
  transition: width 0.3s linear 0s;
  background-color: #fff;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  &__header {
    position: relative;
    margin-bottom: toRem(65);
  }
  &__items {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    padding-top: 36px;
    padding-bottom: 78px;
    padding-left: 28px;
    padding-right: 28px;
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: toRem(3);
    transition: all 0.3s ease 0s;
    img {
      @media (max-width: 1150px) {
        width: 25px;
        height: 25px;
      }
    }
    &-text {
      font-weight: 600;
      font-size: 26px;
      letter-spacing: toRem(0.26);
      color: #000;
      span {
        font-size: 10px;
        color: #838383;
        font-weight: 500;
        letter-spacing: -0.1px;
        margin-left: toRem(4);
      }
    }
    @media (max-width: $tablet) {
      transform: translate(-40px, 0px);
      opacity: 0;
      visibility: hidden;
    }
  }
  &__button {
    position: absolute;
    display: none;
    flex: 0 1 20px;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
    @media (max-width: $tablet) {
      display: block;
    }
  }

  &__list {
    flex: 1 1 auto;
    padding-bottom: 20px;
    display: flex;
    transition: all 0.3s ease 0s;
    flex-direction: column;
    gap: 18px;
    @media (max-width: $tablet) {
      transform: translate(-40px, 0px);
      opacity: 0;
      visibility: hidden;
    }
  }
  &__user {
    transition: all 0.3s ease 0s;
    @media (max-width: $tablet) {
      transform: translate(-40px, 0px);
      opacity: 0;
      visibility: hidden;
    }
  }
  @media (max-width: 1150px) {
    width: 190px;
    &__items {
      padding-top: 24px;
      padding-bottom: 60px;
      padding-left: 10px;
      padding-right: 10px;
    }
    &__logo {
      &-text {
        font-size: 16px;
        span {
          font-size: 10px;
        }
      }
    }
  }
  @media (max-width: $tablet) {
    z-index: 5;
    overflow: hidden;
    width: 40px;
    // &__items {
    //   padding-top: 50px;
    // }
  }
  &.active {
    width: 190px;
    overflow: auto;
    .sidebar__logo,
    .sidebar__list,
    .sidebar__user {
      transform: translate(0px, 0px);
      opacity: 1;
      visibility: visible;
    }
  }
}
.list-sidebar {
  &__item {
    position: relative;
    z-index: 5;
    cursor: pointer;
    border-radius: toRem(8);
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 12px 0 12px 12px;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translate(0px, -50%);
      width: 16px;
      height: 16px;
      background: url("../img/sidebar/arrow.svg") right no-repeat;
    }
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: #5932ea;
      position: absolute;
      opacity: 0;
      transform: translateX(-20px);
      transform-origin: left;
      transition: all 0.2s linear;
      border-radius: toRem(8);
    }
    &.active {
      &:nth-child(3) {
        .list-sidebar__image {
          svg {
            path {
              fill: none;
            }
          }
        }
      }
      &::before {
        transform: translateX(0px);
        opacity: 1;
      }
      .list-sidebar__link {
        color: #fff;
      }
      &::after {
        background: url("../img/sidebar/arrow-white.svg") right no-repeat;
      }
      .list-sidebar__image {
        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
    @media (any-hover: hover) {
      &:hover,
      &.active {
        &:nth-child(3) {
          .list-sidebar__image {
            svg {
              path {
                fill: none;
              }
            }
          }
        }
        &::before {
          transform: translateX(0px);
          opacity: 1;
        }
        .list-sidebar__link {
          color: #fff;
        }
        &::after {
          background: url("../img/sidebar/arrow-white.svg") right no-repeat;
        }
        .list-sidebar__image {
          svg {
            path {
              fill: #fff;
            }
          }
        }
      }
    }
  }

  &__image {
    position: relative;
  }

  &__link {
    position: relative;
    color: $sideColor;
    font-weight: 500;
    letter-spacing: -0.14px;
  }
}

.user-sidebar {
  display: flex;
  align-items: center;
  gap: 12px;
  &__image {
  }

  &__body {
    flex: 1 1 auto;
  }

  &__name {
    color: #000;
    font-weight: 500;
    letter-spacing: 0.14px;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__rank {
    color: #757575;
    font-size: 12px;
    letter-spacing: 0.12px;
  }
}
